main{
    background-color: black;
}

nav li a:hover {
    color: #000;
    background-color: #b74b4b;
}

video{
    background-color: #fff;
    padding: 1.6px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #b74b4b;
}